h2 {
    text-align: center;
}
h1 {
    text-align: center;
    position: relative;
    top: 300px;
    font-size: 45px;
}
form {
    text-align: center;
    position: relative;
    top: 325px;
    font-size: 25px;
}
#instructions {
    text-align: center;
    position: relative;
    top: 350px;
    font-size: 20px;
}
#searchconfirmation {
    text-align: center;
    position: relative;
    top: 375px;
    font-size: 20px;
}
