@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap'); /* Importing the Inter Tight font from Google Fonts */
h2 {
    text-align: center;
}
h1 {
    text-align: center;
    position: relative;
    top: 300px;
    font-size: 45px;
}
form {
    text-align: center;
    position: relative;
    top: 325px;
    font-size: 25px;
}
#instructions {
    text-align: center;
    position: relative;
    top: 350px;
    font-size: 20px;
}
#searchconfirmation {
    text-align: center;
    position: relative;
    top: 375px;
    font-size: 20px;
}
body {
    background-image: url("https://wallpapercave.com/wp/wp7216449.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "inter tight", sans-serif; /* Applying the imported font */
}
.white-text {
    color: white;
}
input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0.3; /* Setting initial opacity to 0.5 */
    background-color: black; /* Setting background color to black */
}
textarea:focus, input:focus {
    color: #ffffff;
}

input, select, textarea{
    color: #ffffff;
}
